.Footer {
    align-items: flex-start;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    font-size: 12pt;
    justify-content: space-between;
    margin-top: 30px;
    width: 100% ;
}

.Footer .InfoGov {
    width: 25vw;
}

.Footer .LogoGov {
    margin-right: 40px;
}

.Footer .LogoGov img {
    width: 180px;
}

.Footer .Mastertech {
    width: 50%;
}

.Footer .Members {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 25px;
    width: 50%;
}

.Footer .Members .Member img {
    border-radius: 100%;
    height: 40px;
    margin: 15px 20px;
    width: 40px;
}

.Footer .Mastertech img {
    width: 255px;
}

.Side {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    width: 50vw;
}

@media (max-width: 1200px) {
    .Footer { 
        display: block;
    }

    .Footer .InfoGov {
        width: 80vw;
    }

    .Footer .Mastertech {
        width: 80vw;
    }

    .Footer .Members {
        width: 80vw;
    }

    .Footer .Members .Member img {
        margin: 15px 40px;
    }

    .Side {
        display: block;
        width: 100vw;
    }
}
