.Map {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    margin-bottom: -30px;
    padding: 60px;
    width: 100%;
}

.Map h2{
    color: cornflowerblue;
    padding-bottom: 20px;
}

.Map label{
    padding-bottom: 10px;
}

.Map .formMap{
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 100%;
}

.Map .formMap input{
    border:solid 1px black;
    border-radius: 4px;
    height: 50px;
    margin-bottom: 10px;
    width: 260px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.Map .formMap button{
    background-color:cornflowerblue;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 260px;    
}
