.Navbar {
    align-items: center;
    background-color: cornflowerblue;
    display: flex;
    font-size: 14pt;
    height: 80px;
    justify-content: space-between;
    width: 100vw;
}

.Navbar .LogoMS {
    padding-left: 20px;
}

.Navbar .LogoMS img {
    width: 150px;
}

.Navbar .Menu {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.Navbar .Menu a {
    color: white;
    text-decoration: none;
}

.Navbar .MenuMobile {
    align-items: center;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 30px;
}

.Navbar .MenuMobile .Dash {
    background-color: white;
    border-radius: 20px;
    height: 3px;
    margin: 4px 0;
    transition: 0.4s;
    width: 100%;
}

.Navbar .MenuMobile .Dash:nth-child(1), .Navbar .MenuMobile .Dash:nth-child(3) {
    transform-origin: center right;
}

.Navbar .MenuMobile.active .Dash:nth-child(1) {
    transform: rotateZ(-45deg);
}

.Navbar .MenuMobile.active .Dash:nth-child(2) {
    opacity: 0;
}

.Navbar .MenuMobile.active .Dash:nth-child(3) {
    transform: rotateZ(45deg);
}


@media (max-width: 1200px) {
    .Navbar .Menu {
        display: none;
    }
    .Navbar .MenuMobile {
        display: flex;
    }
}
